<!DOCTYPE html>
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="C:\Users\manuelpc97\node_modules\semantic-ui\dist\semantic.min.css">
    <link rel="stylesheet" type="text/css" href="../css/add.css">
    <script
        src="https://code.jquery.com/jquery-3.1.1.min.js"
        integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
        crossorigin="anonymous">
        </script>
        <script src="C:\Users\manuelpc97\node_modules\semantic-ui\dist\semantic.min.js"></script>
    <script type="text/javascript" src = "../js/add.js"></script> 
    <title>
      Practica para el examen 
    </title>
  </head>
  <body>
    <div class="ui three item menu">
       <a class="active item" href = "index.html">Home</a>
        <a class="item" href = "add.html"
        ">Agregar Calcetines</a>
        <a class="item" href = "view.html">Ver Calcetines</a>
    </div>

    <div class = "ui centered aligned grid">
      <div class = "eight wide column">
        <form class="ui form">
        <div class="field">
          <label color = "white">Nombre</label>
          <input type="text" id ="nombre" placeholder="Nombre">
        </div>
        <div class="field">
          <label>Marca</label>
          <input type="text" id="marca" placeholder="Marca">
        </div>
        <div class="field">
          <label>Color</label>
          <input type="text" id="color" placeholder="Color">
        </div>
        <div class="field">
          <label>Talla</label>
          <input type="text" id="talla" placeholder="Talla">
        </div>
        <div class="field">
          <label>Tipo</label>
          <input type="text" id="tipo" placeholder="Tipo">
        </div>
        <div class="field">
          <label>Estampado</label>
          <input type="text" id="estampado" placeholder="Estampado">
        </div>
        <div class="field">
          <label>Genero</label>
          <input type="text" id="genero" placeholder="Genero">
        </div>
        <div class="field">
          <label>Precio</label>
          <input type="text" id="precio" placeholder="Precio">
        </div>
      </form>
      <br>
        <button class="ui button"  onclick="getData()">Submit</button>
      </div>  
    </div>
  </body>
</html>